{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "_assets": "./assets",
          "_components": "./src/components",
          "_icons": "./src/icons",
          "_navigators": "./src/navigators",
          "_screens": "./src/screens",
          "_themes": "./src/themes"
        }
      }
    ],
    "react-native-reanimated/plugin"
  ]
}
